@model IList<Estoque.Models.Produto>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
            <tr id="idItem@(item.Id)">
                <td>@item.Id</td>
                <td>@Html.RouteLink(item.Nome, "DetalheProduto", new { id = item.Id })</td>
                <td id="quantidade@(item.Id)">@item.Quantidade</td>
                <td><a href="#" onclick="DecrementaQnt(@item.Id)">Decrementa</a></td>
                <td align="right">
                    <button type="button" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Editar", "Produto", @item)'">
                        Editar
                    </button>

                    <button type="button" class="btn btn-danger btn-sm" onclick="Deletar(@item.Id)">
                        Excluir
                    </button>
                </td>
            </tr>
                 }
        </tbody>
    </table>

    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Cadastrar", "Produto")'">Novo</button>


    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">

    function DecrementaQnt(produtoId)
    {
        var url = "@Url.Action("DecrementaQnt", "Produto")/" +produtoId;
        var data = {id: produtoId}
        var json = JSON.stringify(data)

        $.ajax({
            type: "PUT",
            url: url,
            contentType: "application/json; charset=utf-8",
            data: json,
            cache: false,
            success: function(d) {
                atualiza(d);
             },
            error: function(xhr, textStatus, errorThrown) {
                console.log('Error')
             }
        });
    }

    function atualiza(resposta)
    {
        var elemento = $("#quantidade" + resposta.Id);
        elemento.html(resposta.Quantidade);
    }


    function Deletar(id)
    {
        var url = "@Url.Action("RemoveProduto", "Produto")";

        var data = { id: id };
        var json = JSON.stringify(data)

        $.ajax({
            type: "DELETE",
            url: url,
            contentType: "application/json; charset=utf-8",
            data: json,
            cache: false,
            success: function (d) {
                sucesso(id);
             },
            error: function(xhr, textStatus, errorThrown) {

             }
        });

    }


    function sucesso(id)
    {
        $('#idItem' + id).fadeOut("slow", function () {
            var thisRow = $('#idItem' + id).closest("tr");
            thisRow.remove();
         });
    }

</script>